name: CI

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
    
    - name: Check PHP version
      run: php -v
    
    - name: Validate composer.json
      run: composer validate --no-check-publish
    
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-interaction

